@model ModeloIVIA.Web.ViewModels.UsuarioJS.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@section ScriptsOnHead {

    <link href="@Url.Content("~/Scripts/Plugins/TipValidation/css/jquery.tipValidation.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Plugins/TipValidation/js/jquery.tipValidation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugins/TipValidation/js/jquery.tipValidation-rules.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/Componentes/Dialog.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Elementos/SliderCRUD.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Elementos/Form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Elementos/TabelaUsuarios.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Elementos/TabelaGrupos.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Elementos/ValidadorUsuario.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/ViewModel/UsuarioJSViewModel.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/Views/UsuarioJS/Script/UsuarioJSScript.js")" type="text/javascript"></script>
}

<header>
    <h1>Usuários</h1>
</header>

<nav id="crudSections">
    <a data-slide="1">Form</a>
    <a data-slide="2">Lista</a>
</nav>

<br clear="all" />

<div id="crud">    
    <div>
        @using (Html.BeginForm("Index", "UsuarioJS", FormMethod.Post, new { @id = "formUsuario" }))
        {
            <section>
                <header>
                    <h1>Dados iniciais</h1>
                </header>

                <input type="hidden" name="Id" />

                <div class="campo">
                    <label>Nome</label>
                    <br />
                    <input type="text" name="Nome" tipvalidation="required" />
                </div>

                <div class="campo">
                    <label>Email</label>
                    <br />
                    <input type="text" name="Email" tipvalidation="required-email" />
                </div>

                <br clear="all" />

                <div class="campo">
                    <label>Login</label>
                    <br />
                    <input type="text" name="Login" tipvalidation="required" />
                </div>

                <div>
                    <label>Grupos</label>
                    <br />
                    <select name="Grupos">
                        <option>Selecione</option>

                        @foreach (var grupo in Model.Grupos)
                        {
                            <option value="@grupo.Id">@grupo.Nome</option>
                        }
                    </select>
                </div>
            </section>

            <br clear="all" />
            
            <section>
                <header>
                    <h1>Endereço</h1>
                </header>

                <div class="campo">
                    <label>Logradouro</label>
                    <br />
                    <input type="text" name="Logradouro" tipvalidation="required" />
                </div>

                <div class="campo">
                    <label>Número</label>
                    <br />
                    <input type="text" name="Numero" tipvalidation="required" />
                </div>

                <div class="campo">
                    <label>Bairro</label>
                    <br />
                    <input type="text" name="Bairro" tipvalidation="required" />
                </div>

                <br clear="all" />

                <div class="campo">
                    <label>Complemento</label>
                    <br />
                    <input type="text" name="Complemento" />
                </div>

                <br clear="all" />

                <div class="campo">
                    <label>Cidade</label>
                    <br />
                    <select name="Cidade"></select>
                </div>

                <div class="campo">
                    <label>Estado</label>
                    <br />
                    <select name="Estado">
                        <option>Selecione</option>

                        @foreach (var estado in Model.Estados)
                        {
                            <option value="@estado.Id">@estado.Descricao</option>
                        }
                    </select>
                </div>
            </section>
            
            <br clear="all" />
            
            <div class="botoes">
                <button id="salvar">Salvar</button>
                <button id="limparForm">Cancelar</button>
            </div>
        }
    </div>

    <div>
        <table id="tabelaUsuarios">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Grupo</th>
                    <th>Perfil</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in Model.Usuarios)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Grupo.Nome</td>
                        <td>@usuario.Grupo.Perfil.ToString()</td>
                        <td>
                            @Html.ActionLink("alterar", "ObterUsuarioParaAlteracao", "UsuarioJS",
                                             new { @idUsuario = usuario.Id }, new { @class = "alterar" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<section id="grupos" style="display: none;">
    <header>
        <h4>Grupos</h4>
    </header>

    <div>
        <table id="tabelaGrupos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>