@model IEnumerable<ModeloIVIA.Usuario>

@{
    ViewBag.Title = "Index";
}

@section ScriptsOnHead {

    <script src="@Url.Content("~/Scripts/Componentes/Dialog.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/UsuarioJS/Elementos/Transicao.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/UsuarioJS/Elementos/Form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/UsuarioJS/Elementos/TabelaUsuarios.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App/UsuarioJS/Elementos/TabelaGrupos.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/UsuarioJS/ViewModel/UsuarioJSViewModel.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/App/UsuarioJS/Script/UsuarioJSScript.js")" type="text/javascript"></script>
}

<header>
    <h1>Usuários</h1>
</header>

<nav id="crudSections">
    <a>Form</a>
    <a>Lista</a>
</nav>

<br clear="all" />

<div id="crud">    
    <div id="form">
        @using(Html.BeginForm("Index", "UsuarioJS")) {
            <section>
                <header>
                    <h1>Dados iniciais</h1>
                </header>

                <div class="campo">
                    <label>Nome</label>
                    <br />
                    <input type="text" name="Nome" />
                </div>

                <div class="campo">
                    <label>Email</label>
                    <br />
                    <input type="text" name="Email" />
                </div>

                <div class="campo">
                    <label>Login</label>
                    <br />
                    <input type="text" name="Login" />
                </div>

                @*<div>
                    <label>Grupos</label>
                    <input type="text" name="Login" />
                </div>*@
            </section>

            <br clear="all" />
            
            <section>
                <header>
                    <h1>Endereço</h1>
                </header>

                <div class="campo">
                    <label>Logradouro</label>
                    <br />
                    <input type="text" name="Logradouro" />
                </div>

                <div class="campo">
                    <label>Número</label>
                    <br />
                    <input type="text" name="Numero" />
                </div>

                <div class="campo">
                    <label>Bairro</label>
                    <br />
                    <input type="text" name="Bairro" />
                </div>

                <br clear="all" />

                <div class="campo">
                    <label>Complemento</label>
                    <br />
                    <input type="text" name="Complemento" />
                </div>

                <br clear="all" />

                <div class="campo">
                    <label>Cidade</label>
                    <br />
                    <select name="Cidade"></select>
                </div>

                <div class="campo">
                    <label>Estado</label>
                    <br />
                    <select name="Estado"></select>
                </div>
            </section>
        }
    </div>

    <div id="tabela">
        <table id="tabelaUsuarios">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Grupo</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Grupo.Nome</td>
                        <td>@usuario.Grupo.Perfil.ToString()</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<section id="grupos" style="display: none;">
    <header>
        <h4>Grupos</h4>
    </header>

    <div>
        <table id="tabelaGrupos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</section>